<h1>faceBIT</h1>

<h3>bibliotecas</h3>

In [1]:
import pandas as pd

import numpy as np

from sklearn import svm

from sklearn.model_selection import GridSearchCV, train_test_split

<h2>Importação os dados</h2>

In [2]:
# Dados features PCA
data = pd.read_csv('../CSV/pca_descriptor.csv')

# reordenando os índices do combinado
data.reset_index(inplace=True)

# removendo a coluna index
data.drop('index',inplace=True,axis=1)

<h2>Visão geral dos dados</h2>

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800 entries, 0 to 1799
Data columns (total 31 columns):
target    1800 non-null int64
 0        1800 non-null float64
 1        1800 non-null float64
 2        1800 non-null float64
 3        1800 non-null float64
 4        1800 non-null float64
 5        1800 non-null float64
 6        1800 non-null float64
 7        1800 non-null float64
 8        1800 non-null float64
 9        1800 non-null float64
 10       1800 non-null float64
 11       1800 non-null float64
 12       1800 non-null float64
 13       1800 non-null float64
 14       1800 non-null float64
 15       1800 non-null float64
 16       1800 non-null float64
 17       1800 non-null float64
 18       1800 non-null float64
 19       1800 non-null float64
 20       1800 non-null float64
 21       1800 non-null float64
 22       1800 non-null float64
 23       1800 non-null float64
 24       1800 non-null float64
 25       1800 non-null float64
 26       1800 non-null float64
 27       1800 non-null float64
 28       1800 non-null float64
 29       1800 non-null float64
dtypes: float64(30), int64(1)
memory usage: 436.0 KB

In [4]:
data.head()

,target,0,1,2,3,4,5,6,7,8,...,20,21,22,23,24,25,26,27,28,29
0,1,38.227261,54.987560,150.765121,84.762665,5.744239,108.822784,-133.594589,64.880249,-67.951714,...,45.891701,58.740719,139.672073,60.993164,-7.620402,96.233261,-148.393585,71.966484,-60.424252,46.480610
1,1,40.821381,-66.422356,107.973907,36.064297,112.022110,52.247074,-257.715363,175.686447,-8.359835,...,57.677605,-66.134872,86.194031,30.892843,103.733940,24.805952,-272.783905,176.976410,1.420654,72.768814
2,1,-36.515125,80.041000,153.172272,103.630562,-126.768585,141.288910,-47.261539,-44.963436,-57.388844,...,-42.185036,77.971642,142.148270,99.282875,-135.334595,139.764923,-39.892506,-44.461147,-73.610420,6.912329
3,1,89.128250,75.799736,144.451706,102.122375,105.896591,74.468002,-205.587570,124.091293,-96.243507,...,93.701500,67.814384,134.432800,105.329597,90.490105,73.463905,-204.419144,126.585213,-87.810997,33.207424
4,1,50.591583,153.393845,152.060776,115.166008,-32.699188,128.397568,-89.415520,0.606826,-117.426674,...,50.211533,144.935699,147.430389,117.813553,-50.639336,129.401077,-78.620110,14.551367,-125.042519,-8.953915

In [5]:
data.tail()

,target,0,1,2,3,4,5,6,7,8,...,20,21,22,23,24,25,26,27,28,29
1795,0,435.775726,450.605194,56.692734,325.233582,140.781372,-21.250366,210.922653,-87.901634,-298.682129,...,436.493256,529.912048,185.038986,343.633606,161.136505,40.414307,105.738419,-61.743111,-272.527832,-273.638184
1796,0,506.940491,590.978943,206.454758,448.835266,504.235474,-15.381807,134.120087,-19.822710,-358.908142,...,411.580109,538.186707,214.160507,403.022766,454.209320,-9.865706,83.231827,-58.839046,-388.610291,-220.239319
1797,0,695.491516,714.886230,255.150085,387.451721,294.248810,97.477356,74.162560,-50.489487,-459.630676,...,669.940247,679.812683,244.045029,314.475128,275.014923,157.546219,-3.556436,-105.447006,-441.072479,-265.260101
1798,0,724.425354,746.418396,249.985764,391.596558,308.792206,96.831726,82.907715,-64.648743,-481.300659,...,694.601685,714.590759,243.222565,313.233856,286.643005,158.123306,2.834930,-118.896629,-465.042358,-281.090607
1799,0,759.837891,780.862793,259.177765,401.271790,322.563660,101.544998,87.668739,-58.172283,-504.668152,...,731.810242,746.285767,249.482376,323.329651,301.718231,165.219284,-0.648183,-119.126945,-482.737762,-286.021057

<h2>Separação dos dados em conjunto de Treino e Teste</h2>

In [6]:
Y = data.target

In [7]:
data.drop('target',inplace=True,axis=1)

In [8]:
X = data

In [9]:

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.333, random_state=0)

<h2>Modelo SVM</h2>

In [10]:
clf = svm.SVC(kernel='linear', C = 100, probability=True)

In [ ]:
clf.fit(X_train, y_train)

In [ ]:
clf_predictions = clf.predict_proba(X_test)

In [ ]:
print("Accuracy: {}%".format(clf.score(X_test, y_test) * 100 ))

<h2>Exportação dos parametros do modelo</h2>

In [ ]:
W = np.dot(np.array(clf.dual_coef_), np.array(clf.support_vectors_))

In [ ]:
B = clf.intercept_

In [ ]:
W = np.ravel(W)
W = W.astype("float32")
fw = open("W", "wb")
W.tofile(fw)

In [ ]:
B = np.ravel(B)
B = B.astype("float32")
fi = open("B", "wb")
B.tofile(fi)