<h1>faceBIT</h1>

<h3>bibliotecas</h3>

In [1]:
import pandas as pd

import numpy as np

from sklearn import svm

from sklearn.metrics import confusion_matrix

from sklearn.model_selection import GridSearchCV, train_test_split

<h2>Importação os dados</h2>

In [2]:
# Dados HOG
data = pd.read_csv('../CSV/pca_descriptor.csv')

# reordenando os índices do combinado
data.reset_index(inplace=True)

# removendo a coluna index
data.drop('index',inplace=True,axis=1)

<h2>Visão geral dos dados</h2>

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800 entries, 0 to 1799
Columns: 101 entries, target to  99
dtypes: float64(100), int64(1)
memory usage: 1.4 MB

In [4]:
data.head()

,target,0,1,2,3,4,5,6,7,8,...,90,91,92,93,94,95,96,97,98,99
0,1,1438.246582,331.040405,424.738434,1009.631287,531.097107,7.932745,141.523239,460.933899,-700.129761,...,-54.907833,6.588022,78.607758,-159.501541,-40.644852,-123.231750,207.691437,-38.044521,66.844460,5.932398
1,1,2055.302246,544.256836,3201.584473,8.114310,581.401855,-864.440796,-82.489738,560.538269,-43.017895,...,-43.680965,-117.771950,44.644688,-122.561157,77.406090,-37.782894,115.021553,-12.453054,-14.705388,-124.186707
2,1,-324.616333,-55.429619,-2048.887451,1717.262207,539.768982,293.379089,194.917664,850.718811,-892.872192,...,67.814255,46.188293,57.093723,-13.714008,-163.306900,-27.412085,2.965388,-21.407558,-35.962715,68.661980
3,1,2374.970703,1867.944092,1807.425171,505.979889,638.721863,-533.261963,38.418491,1073.165649,-445.146057,...,-35.106163,-109.514435,30.873833,-0.068940,76.972084,24.527313,-72.240524,-25.378273,-83.674957,35.552940
4,1,924.939087,1890.613647,-897.424133,1421.050293,536.645081,138.086731,194.509079,1040.837769,-814.420044,...,8.000200,10.301789,45.569988,19.672884,-89.162117,-29.667747,-59.849247,-70.192688,-60.802944,154.410370

In [5]:
data.tail()

,target,0,1,2,3,4,5,6,7,8,...,90,91,92,93,94,95,96,97,98,99
1795,0,2702.102295,4753.169434,-2869.024414,298.915192,-164.970123,-345.451874,-443.770477,616.775696,222.131958,...,191.731781,392.929443,316.801117,-247.830948,-468.681824,-284.280151,487.412140,-52.987640,327.781708,34.733833
1796,0,5705.371582,-1022.119934,-2242.589600,-425.843689,1467.952637,571.465393,12.154913,-564.339661,-293.107391,...,906.897095,364.125946,-197.597870,-174.528870,-547.606201,-498.058868,116.272537,-285.392517,351.704590,257.635376
1797,0,7042.011719,2138.832031,-2776.291748,825.408081,643.088562,526.045166,-645.222168,-402.102234,72.184372,...,484.907684,250.408920,-153.259903,-199.385925,-193.015610,-533.437317,50.147118,-94.702843,76.177284,262.692993
1798,0,7390.108887,2161.586426,-2812.104248,832.322327,575.271057,558.683533,-600.370605,-379.179047,115.026123,...,485.137360,232.438965,-149.498489,-206.366257,-209.471039,-539.099915,53.608688,-90.177040,80.722435,256.645935
1799,0,7880.363281,2254.566162,-2837.353271,873.628235,553.787109,562.936829,-615.433594,-370.912323,94.572937,...,485.603180,244.218765,-160.739395,-211.566360,-207.438156,-552.082703,53.094368,-96.562645,84.949951,263.187103

<h2>Separação dos dados em conjunto de Treino e Teste</h2>

In [6]:
Y = data.target

In [7]:
data.drop('target',inplace=True,axis=1)

In [8]:
X = data

In [9]:

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state=0)

<h2>Modelo SVM</h2>

In [10]:
clf = svm.SVC(kernel='linear', C = 100, probability=True)

In [11]:
clf.fit(X_train, y_train)

SVC(C=100, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape=None, degree=3, gamma='auto', kernel='linear',
  max_iter=-1, probability=True, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [12]:
clf_predictions = clf.predict_proba(X_test)

In [13]:
print("Accuracy: {}%".format(clf.score(X_test, y_test) * 100 ))

Accuracy: 99.7222222222%

<h2>Exportação dos parametros do modelo</h2>

In [14]:
W = np.dot(np.array(clf.dual_coef_), np.array(clf.support_vectors_))

In [15]:
B = clf.intercept_

In [25]:
W = np.ravel(W)
W = W.astype("float32")
fw = open("W", "wb")
W.tofile(fw)

In [26]:
B = np.ravel(B)
B = B.astype("float32")
fi = open("B", "wb")
B.tofile(fi)

In [18]:
print(clf_predictions[8])

[  9.99993922e-01   6.07816572e-06]

In [19]:
B

array([ 2.42927122], dtype=float32)

In [20]:
W

array([  5.95431629e-05,   5.11724538e-05,   1.82984804e-04,
        -2.61812202e-05,  -7.65993173e-05,  -8.44345122e-05,
         1.27471270e-04,   2.28543504e-04,  -1.01826045e-04,
         7.03594778e-05,  -2.57573760e-04,  -3.07228293e-05,
        -2.28443008e-04,   2.44935800e-04,   5.35894942e-04,
         9.84143699e-05,  -3.95302341e-05,  -7.06956271e-05,
         1.49594189e-05,   2.34966556e-05,   2.90149328e-05,
        -1.49350511e-04,   3.49622598e-04,  -9.68398308e-05,
         1.94820415e-04,   3.11325479e-04,  -2.62001908e-04,
         9.13270287e-06,   2.45192670e-04,   2.84452253e-05,
         2.85723363e-04,   1.37547395e-04,  -1.19437093e-04,
        -2.32135557e-04,   5.93789264e-05,  -3.73966905e-04,
        -2.83541536e-04,   1.57985036e-04,  -4.41209631e-05,
        -1.99550865e-04,  -1.26460174e-04,   3.09517520e-04,
        -1.05211446e-04,  -3.52228381e-05,  -2.88407406e-04,
         4.92523432e-05,  -2.57576001e-04,   3.26270441e-04,
        -2.27542434e-04,   3.99043420e-05,   2.36782915e-04,
        -9.82294368e-05,   9.38926314e-05,   1.45302853e-04,
         2.16428802e-04,   1.20055120e-04,  -1.11387453e-04,
        -2.00803828e-04,  -2.27930635e-04,   1.75727517e-04,
         1.52370325e-04,   5.09201527e-05,   8.91976088e-05,
         4.63898468e-04,   5.05417302e-06,  -5.84928966e-05,
        -1.96128356e-04,   2.08384197e-04,   7.17153966e-07,
        -1.46427759e-04,   2.23137598e-04,  -1.41408163e-04,
         1.15453142e-04,  -1.88158810e-04,  -3.38018617e-05,
        -2.11652747e-04,   1.35016540e-04,  -1.24236671e-04,
        -1.56192473e-05,   2.59051176e-05,  -2.51723512e-04,
        -7.58591455e-07,   5.44186441e-05,   3.05446069e-04,
         1.66177069e-05,  -3.19411221e-04,  -1.74146589e-05,
        -3.28887545e-05,  -6.83799226e-05,   3.52874049e-05,
        -3.44198197e-04,  -3.20118299e-04,  -7.41857511e-05,
        -3.28567080e-06,   1.72983753e-04,  -8.26132527e-05,
        -7.04910708e-05,   2.42716458e-04,   5.45341500e-05,
        -2.62227928e-04], dtype=float32)

In [21]:
X[:1]

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,1438.246582,331.040405,424.738434,1009.631287,531.097107,7.932745,141.523239,460.933899,-700.129761,-948.708801,...,-54.907833,6.588022,78.607758,-159.501541,-40.644852,-123.23175,207.691437,-38.044521,66.84446,5.932398

In [22]:
type(W)

numpy.ndarray