<h1>faceBIT</h1>

<h3>bibliotecas</h3>

In [1]:
import pandas as pd

import numpy as np

from sklearn import svm

from sklearn.metrics import confusion_matrix

from sklearn.model_selection import GridSearchCV, train_test_split

<h2>Importação os dados</h2>

In [2]:
# Dados HOG
data = pd.read_csv('../CSV/hog_descriptor.csv')

# reordenando os índices do combinado
data.reset_index(inplace=True)

# removendo a coluna index
data.drop('index',inplace=True,axis=1)

<h2>Visão geral dos dados</h2>

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 980 entries, 0 to 979
Columns: 54433 entries, target to  54431
dtypes: float64(54432), int64(1)
memory usage: 407.0 MB

In [4]:
data.head()

,target,0,1,2,3,4,5,6,7,8,...,54422,54423,54424,54425,54426,54427,54428,54429,54430,54431
0,1,0.208181,0.150515,0.064757,0.016695,0.026777,0.026108,0.010005,0.006094,0.007044,...,0.040279,0.054928,0.110584,0.142256,0.109918,0.038080,0.035740,0.012375,0.006640,0.000000
1,1,0.213755,0.148835,0.066078,0.015774,0.031457,0.034862,0.014060,0.009168,0.006409,...,0.040171,0.015146,0.062844,0.065486,0.038983,0.028825,0.005617,0.001974,0.002503,0.009721
2,1,0.185164,0.130037,0.058042,0.013199,0.037352,0.021519,0.007844,0.002675,0.005777,...,0.020911,0.034258,0.059160,0.091833,0.074700,0.090257,0.053171,0.014379,0.004649,0.007069
3,1,0.229406,0.153449,0.066902,0.013069,0.027790,0.031376,0.022858,0.004062,0.005356,...,0.038595,0.012723,0.081966,0.064900,0.075663,0.033495,0.013879,0.004317,0.000266,0.001156
4,1,0.215415,0.146891,0.067976,0.014313,0.037971,0.023427,0.011011,0.003561,0.004615,...,0.030863,0.011321,0.068860,0.118269,0.102620,0.042405,0.018853,0.008509,0.002275,0.004790

In [ ]:
data.tail()

,target,0,1,2,3,4,5,6,7,8,...,54422,54423,54424,54425,54426,54427,54428,54429,54430,54431
975,0,0.360235,0.214650,0.103287,0.000000,0.000000,0.000131,0.001964,0.014979,0.035963,...,0.000205,0.000130,0.002244,0.004315,0.008233,0.011525,0.020993,0.012358,0.002439,0.002340
976,0,0.369018,0.201791,0.098409,0.000000,0.000000,0.000000,0.000224,0.001086,0.002065,...,0.007737,0.001674,0.002452,0.004846,0.002704,0.003404,0.006845,0.002833,0.001848,0.000528
977,0,0.377378,0.219575,0.110629,0.001726,0.000295,0.000028,0.000394,0.000956,0.000293,...,0.005227,0.001077,0.000421,0.004481,0.011474,0.103370,0.280199,0.018166,0.003045,0.002427
978,0,0.406008,0.257660,0.123217,0.002802,0.042895,0.035157,0.001766,0.001048,0.021213,...,0.007101,0.000000,0.000000,0.000000,0.000550,0.021762,0.119151,0.022331,0.000630,0.000000
979,0,0.380695,0.237755,0.117015,0.005606,0.022387,0.030074,0.001918,0.000814,0.017582,...,0.000000,0.000000,0.000000,0.000265,0.363518,0.239328,0.000344,0.000000,0.000000,0.000000

<h2>Separação dos dados em conjunto de Treino e Teste</h2>

In [ ]:
Y = data.target

In [ ]:
data.drop('target',inplace=True,axis=1)

In [ ]:
X = data

In [ ]:

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state=0)

<h2>Modelo SVM</h2>

In [ ]:
clf = svm.SVC(kernel='linear', C = 100, probability=True)

In [ ]:
clf.fit(X_train, y_train)

SVC(C=100, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='linear', max_iter=-1, probability=True, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [ ]:
clf_predictions = clf.predict_proba(X_test)

In [ ]:
print("Accuracy: {}%".format(clf.score(X_test, y_test) * 100 ))

<h2>Exportação dos parametros do modelo</h2>

In [ ]:
W = np.dot(np.array(clf.dual_coef_), np.array(clf.support_vectors_))

In [ ]:
B = clf.intercept_

In [ ]:
W = np.ravel(W)
W = W.astype("float32")
fw = open("W_8_4", "wb")
W.tofile(fw)

In [ ]:
B = np.ravel(B)
B = B.astype("float32")
fi = open("B_8_4", "wb")
B.tofile(fi)

In [ ]:
print(clf_predictions[8])

In [ ]:
B