<h1>faceBIT</h1>

<h3>bibliotecas</h3>

In [1]:
import pandas as pd

import numpy as np

from sklearn import svm

from sklearn.metrics import confusion_matrix

from sklearn.model_selection import GridSearchCV, train_test_split

<h2>Importação os dados</h2>

In [2]:
# Dados HOG
data = pd.read_csv('../CSV/hog_descriptor.csv')

# reordenando os índices do combinado
data.reset_index(inplace=True)

# removendo a coluna index
data.drop('index',inplace=True,axis=1)

<h2>Visão geral dos dados</h2>

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800 entries, 0 to 1799
Columns: 54433 entries, target to  54431
dtypes: float64(54432), int64(1)
memory usage: 747.5 MB

In [4]:
data.head()

,target,0,1,2,3,4,5,6,7,8,...,54422,54423,54424,54425,54426,54427,54428,54429,54430,54431
0,1,0.022243,0.028151,0.013135,0.006362,0.292261,0.213080,0.006978,0.008208,0.023670,...,0.065924,0.031641,0.087693,0.090867,0.080498,0.083573,0.054889,0.021111,0.010647,0.058556
1,1,0.034988,0.027126,0.010969,0.004228,0.293776,0.222707,0.006233,0.011495,0.026862,...,0.073427,0.017236,0.046411,0.058267,0.043631,0.036140,0.014138,0.019555,0.007830,0.010434
2,1,0.033425,0.027352,0.010171,0.006719,0.253146,0.193692,0.002858,0.004773,0.013460,...,0.047600,0.059143,0.089117,0.084583,0.056239,0.047167,0.041791,0.016028,0.021377,0.060301
3,1,0.029485,0.022889,0.009595,0.002555,0.305342,0.238921,0.002574,0.016912,0.027146,...,0.059752,0.032056,0.031595,0.081206,0.074807,0.037805,0.006882,0.012820,0.010974,0.008239
4,1,0.022396,0.039240,0.006041,0.004542,0.289389,0.222792,0.006274,0.008874,0.022394,...,0.031681,0.038546,0.064566,0.083054,0.087511,0.056867,0.007006,0.014764,0.017558,0.022487

In [5]:
data.tail()

,target,0,1,2,3,4,5,6,7,8,...,54422,54423,54424,54425,54426,54427,54428,54429,54430,54431
1795,0,0.003644,0.000000,0.000703,0.001903,0.421997,0.424277,0.004330,0.002946,0.000995,...,0.018516,0.054336,0.002241,0.004493,0.004497,0.000252,0.000063,0.001499,0.016036,0.277414
1796,0,0.378977,0.033625,0.013835,0.016824,0.057041,0.055565,0.020921,0.028504,0.040895,...,0.032201,0.071459,0.000000,0.030318,0.063044,0.078864,0.076119,0.049809,0.046053,0.032201
1797,0,0.003860,0.000527,0.003235,0.002942,0.426777,0.428787,0.002694,0.002748,0.001054,...,0.000000,0.178720,0.011672,0.055155,0.016483,0.054393,0.077555,0.070020,0.060858,0.023343
1798,0,0.007966,0.000000,0.001837,0.000612,0.426961,0.430930,0.000245,0.000735,0.000000,...,0.088179,0.122134,0.075700,0.079946,0.028601,0.048809,0.051347,0.043180,0.056088,0.000000
1799,0,0.004782,0.001539,0.001477,0.000242,0.431305,0.425564,0.001478,0.003288,0.001539,...,0.106290,0.065786,0.018067,0.021586,0.004253,0.089238,0.132660,0.431624,0.323572,0.131207

<h2>Separação dos dados em conjunto de Treino e Teste</h2>

In [6]:
Y = data.target

In [7]:
data.drop('target',inplace=True,axis=1)

In [8]:
X = data

In [9]:

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state=0)

<h2>Modelo SVM</h2>

In [10]:
clf = svm.SVC(kernel='linear', C = 100, probability=True)

In [11]:
clf.fit(X_train, y_train)

SVC(C=100, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='linear', max_iter=-1, probability=True, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [12]:
clf_predictions = clf.predict_proba(X_test)

In [13]:
print("Accuracy: {}%".format(clf.score(X_test, y_test) * 100 ))

Accuracy: 100.0%

<h2>Exportação dos parametros do modelo</h2>

In [59]:
W = np.dot(np.array(clf.dual_coef_), np.array(clf.support_vectors_))

In [60]:
B = clf.intercept_

In [61]:
W = np.ravel(W)
W = W.astype("float32")
fw = open("W", "wb")
W.tofile(fw)

In [62]:
B = np.ravel(B)
B = B.astype("float32")
fi = open("B", "wb")
B.tofile(fi)

In [63]:
print(clf_predictions[8])

[9.99442013e-01 5.57986502e-04]

In [64]:
B

array([-1.1084194], dtype=float32)

In [65]:
W

array([ 1.4339412e-05,  1.8702418e-04, -2.4207019e-04, ...,
       -7.9903752e-04, -1.1007553e-03, -8.1252120e-04], dtype=float32)

In [71]:
X[:1]

,0,1,2,3,4,5,6,7,8,9,...,54422,54423,54424,54425,54426,54427,54428,54429,54430,54431
0,0.022243,0.028151,0.013135,0.006362,0.292261,0.21308,0.006978,0.008208,0.02367,0.034815,...,0.065924,0.031641,0.087693,0.090867,0.080498,0.083573,0.054889,0.021111,0.010647,0.058556